block variables
  
.page-wrap
  .hidden-md-up
    .logo.logo-header
      |
      |
      a(href=link.movie.home)
        |
        |
        img(src=assets+"/images/movie-logo.svg" alt="logo")
        |
        |
        p.use-text-subtitle2 #{brand.movie.projectName}
        |
        |
      |
      |
  .container.max-lg.inner-wrap
    .decoration
      |
      |
      svg.left-deco(width="1045px" height="1468px" viewBox="0 0 1045 1468" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
        include ../svg/deco-bg-left
      |
      |
      svg.right-deco(width="389px" height="1468px" viewBox="0 0 389 1468" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
        include ../svg/deco-bg-right
      |
      |
    .card.form-box.fragment-fadeUp
      .hidden-sm-down
        |
        |
        a.waves-effect.btn-icon.backtohome(href=link.movie.home)
          |
          |
          span
            i.ion-ios-home-outline
            i.ion-ios-arrow-thin-left
          |
          |
        |
        |
      .auth-frame
        .row
          .col-md-5
            .hidden-sm-down
              .greeting
                .logo
                  img(src=assets+"/images/movie-logo.svg" alt="logo")
                  p.use-text-subtitle2 #{brand.movie.projectName}
                h4.use-text-title2.pb-2 #{title}
                h6.use-text-subtitle2 #{subtitle}
          .col-md-7
            .form-wrap
              block auth_content